﻿@model ChatJs.Admin.Models.SigninViewModel

@{
    Layout = "../_Layout.cshtml";
}

@section Header
{
    <link rel="stylesheet" type="text/css" href="/Content/Styles/signin.css" />
}

<div class="container">
    @using (Html.BeginForm("Signin", "Account", FormMethod.Post))
    {
        <h2 class="form-heading">Sign in to ChatJS Admin</h2>
        <p>
            @Html.TextBoxFor(m => m.UserName, new {placeHolder = "User name", @class = "form-control"})
        </p>
        <p>
            @Html.PasswordFor(m => m.Password, new {placeHolder = "Password", @class = "form-control"})
        </p>
        <label class="checkbox">
            @Html.CheckBoxFor(m => m.RememberMe)
            Remember me
        </label>
        <p>
            <a href="@Url.Action("Signon")">Don't have an account? Create one.</a>
        </p>

        @Html.ValidationSummary(false)

        <button class="btn btn-large btn-primary btn-block" type="submit">Sign in</button>
    }
</div>